* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
label,
select,
button,
textarea {
  border: 0;
  display: inline-block;
  background: none;
}

input:focus {
  outline: 0;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("../fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-BlackIt.eot");
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("../fonts/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-BlackIt.woff") format("woff"), url("../fonts/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Proxima Nova", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

h1, .title {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

html, .wrapper {
  min-height: 100vh;
}

body {
  font-family: "Proxima Nova", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1850px;
  padding: 0 16px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-size: 64px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #1E2E36;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  display: inline-block;
  padding: 16px 48px;
  background-color: #44C697;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #2da97c;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  max-width: 590px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .contacts {
    max-width: 520px;
  }
}

@media (max-width: 639px) {
  .contacts {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ico.arrow {
  width: 8px;
  height: 14px;
  margin-left: 4px;
}

.ico.telephone {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.ico.trash {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

.ico svg {
  fill: #1E2E36;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .item {
  margin: 0 16px;
  font-size: 18px;
}

@media (max-width: 1280px) {
  .list .item {
    margin: 0 8px;
  }
}

@media (max-width: 639px) {
  .list .item:first-child {
    margin-left: 0;
  }
}

.socials-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

@media (max-width: 639px) {
  .socials-block {
    margin-right: 24px;
  }
}

.socials-block .text {
  display: inline-block;
  font-size: 18px;
  color: #1E2E36;
  font-weight: 700;
}

@media (max-width: 639px) {
  .socials-block .text {
    display: none;
  }
}

.socials-block .ico.tg {
  width: 21px;
  height: 18px;
}

.socials-block .ico.fb {
  width: 10px;
  height: 22px;
}

.socials-block .ico.ig {
  width: 21px;
  height: 21px;
}

.socials-block .ico svg {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.socials-block .ico svg:hover {
  fill: #44C697;
}

.telephone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telephone-block .telephone-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E2E36;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 639px) {
  .telephone-block .telephone-link {
    font-size: 16px;
  }
}

.navigation {
  margin-left: auto;
}

@media (max-width: 1199px) {
  .navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow: auto;
    margin: auto;
  }
  .navigation.active {
    top: 0;
  }
}

.navigation .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .navigation .list {
    display: block;
    padding: 64px 0;
    position: relative;
    z-index: 3;
  }
}

.navigation .list .item {
  margin: 0 8px;
}

@media (max-width: 1199px) {
  .navigation .list .item {
    margin: 16px;
  }
}

.navigation .list .item:last-child {
  margin-right: 0;
}

.navigation .list .item .link {
  font: 700 18px/1.25 "Proxima Nova", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #1E2E36;
  text-transform: uppercase;
}

.navigation .list .item .link.active {
  border-bottom: 3px solid #44C697;
}

.burger-button {
  display: none;
  width: 40px;
  height: 25px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .burger-button {
    display: block;
  }
}

.burger-button::before, .burger-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1E2E36;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-button::before {
  top: 0;
}

.burger-button::after {
  bottom: 0;
}

.burger-button .serif {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1E2E36;
  position: absolute;
  left: 0;
  top: 11px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-button.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.burger-button.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 12px;
}

.burger-button.active .serif {
  -webkit-transform: translate(100px);
          transform: translate(100px);
}

.header .menu {
  padding: 8px 0;
  border-bottom: 1px solid #1E2E36;
}

.header .content {
  padding: 16px 0;
}

.header .content .nav {
  max-width: 560px;
  width: 100%;
}

@media (max-width: 1359px) {
  .header .content .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: auto;
    width: auto;
  }
}

.header .content .list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1359px) {
  .header .content .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .content .list .item {
  margin: 0 8px;
}

.header .content .list .item:first-child {
  margin-left: 0;
}

.header .content .list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E2E36;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1565px) {
  .header .content .list .link {
    font-size: 16px;
  }
}

.header .content .list .arrow {
  width: 7px;
  height: 12px;
}

.header .content .trash-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 560px;
  width: 100%;
  margin-left: 16px;
}

@media (max-width: 1359px) {
  .header .content .trash-block {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 16px auto;
    max-width: auto;
    width: auto;
  }
}

.header .content .trash-block .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #1E2E36;
  font-weight: 700;
  margin-right: 32px;
}

@media (max-width: 1565px) {
  .header .content .trash-block .link {
    font-size: 16px;
  }
}

@media (max-width: 1439px) {
  .header .content .trash-block .link {
    font-size: 15px;
  }
}

@media (max-width: 479px) {
  .header .content .trash-block .link {
    margin-right: 24px;
  }
}

@media (max-width: 639px) {
  .header .content .trash-block .link span {
    display: none;
  }
}

@media (max-width: 1439px) {
  .header .content .trash-block .btn {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.header .content .logo {
  max-width: 360px;
  width: 100%;
}

@media (max-width: 1565px) {
  .header .content .logo {
    max-width: 320px;
  }
}

@media (max-width: 1439px) {
  .header .content .logo {
    max-width: 240px;
  }
}

@media (max-width: 1359px) {
  .header .content .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 360px;
  }
}

@media (max-width: 639px) {
  .header .content .logo {
    max-width: 300px;
  }
}

.header .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1359px) {
  .header .content .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel-section {
  overflow-x: hidden;
}

.content {
  position: relative;
}

@media (max-width: 1023px) {
  .content {
    padding: 0 16px;
  }
}

.content .context-block {
  position: absolute;
  top: 0;
  left: 40px;
  background-color: #fff;
  max-width: 460px;
  padding: 96px 64px;
  border-left: 15px solid #44C697;
  text-align: center;
}

@media (max-width: 1789px) {
  .content .context-block {
    padding: 48px 40px;
  }
}

@media (max-width: 1359px) {
  .content .context-block {
    padding: 40px 32px;
    max-width: 400px;
  }
}

@media (max-width: 1079px) {
  .content .context-block {
    padding: 24px 16px;
    max-width: 360px;
  }
}

@media (max-width: 1023px) {
  .content .context-block {
    position: relative;
    left: 0;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 479px) {
  .content .context-block {
    padding: 16px;
  }
}

.content .context-block .title {
  padding-bottom: 48px;
  line-height: 1.25;
}

@media (max-width: 1789px) {
  .content .context-block .title {
    padding-bottom: 24px;
    font-size: 56px;
  }
}

@media (max-width: 1359px) {
  .content .context-block .title {
    padding-bottom: 16px;
    font-size: 48px;
  }
}

@media (max-width: 1023px) {
  .content .context-block .title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 479px) {
  .content .context-block .title {
    padding-bottom: 8px;
    font-size: 36px;
  }
}

.content .context-block .sub-title {
  padding-bottom: 8px;
  line-height: 1.25;
}

@media (max-width: 1789px) {
  .content .context-block .sub-title {
    font-size: 32px;
  }
}

@media (max-width: 1359px) {
  .content .context-block .sub-title {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .content .context-block .sub-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 479px) {
  .content .context-block .sub-title {
    font-size: 20px;
  }
}

.content .context-block .text {
  padding-bottom: 32px;
  font-size: 36px;
  line-height: 1.25;
}

@media (max-width: 1789px) {
  .content .context-block .text {
    padding-bottom: 16px;
    font-size: 32px;
  }
}

@media (max-width: 1359px) {
  .content .context-block .text {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .content .context-block .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 479px) {
  .content .context-block .text {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .content .context-block .btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.content .arrows-block {
  padding-top: 48px;
}

@media (max-width: 1789px) {
  .content .arrows-block {
    padding-top: 24px;
  }
}

@media (max-width: 1023px) {
  .content .arrows-block {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-top: 0;
  }
}

.content .arrows-block .numbers {
  padding-bottom: 4px;
  font: 700 24px/1.25 "Proxima Nova", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

@media (max-width: 479px) {
  .content .arrows-block .numbers {
    font-size: 20px;
  }
}

.content .arrows-block .start {
  font-size: 36px;
}

@media (max-width: 479px) {
  .content .arrows-block .start {
    font-size: 24px;
  }
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrows .prev {
  margin-right: 8px;
  background-color: #1E2E36;
}

.arrows .prev svg {
  fill: #fff;
}

.arrows .next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #1E2E36;
}

.arrows .next svg {
  fill: #fff;
}

.arrows .prev,
.arrows .next {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #1E2E36;
  border-radius: 50%;
}

.arrows .prev:hover,
.arrows .next:hover {
  cursor: pointer;
}

.arrows .prev.slick-disabled,
.arrows .next.slick-disabled {
  background-color: #fff;
}

.arrows .prev.slick-disabled .arrow-slider svg,
.arrows .next.slick-disabled .arrow-slider svg {
  fill: #1E2E36;
}

.arrows .prev .arrow-slider,
.arrows .next .arrow-slider {
  width: 8px;
  height: 12px;
}

.advantage-section {
  padding: 96px 0 0;
}

.advantage-section .container {
  text-align: center;
}

.advantage-section .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-section .arrows .prev {
  margin-right: 8px;
  background-color: #fff;
}

.advantage-section .arrows .prev svg {
  fill: #1E2E36;
}

.advantage-section .arrows .next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #fff;
}

.advantage-section .arrows .next svg {
  fill: #1E2E36;
}

.advantage-section .arrows .prev,
.advantage-section .arrows .next {
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .advantage-section .arrows .prev,
  .advantage-section .arrows .next {
    width: 20px;
    height: 20px;
  }
}

.advantage-section .arrows .prev.slick-disabled,
.advantage-section .arrows .next.slick-disabled {
  background-color: transparent;
}

.advantage-section .arrows .prev.slick-disabled .arrow-slider svg,
.advantage-section .arrows .next.slick-disabled .arrow-slider svg {
  fill: #fff;
}

.advantage-section .prev-advantage,
.advantage-section .next-advantage {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.advantage-section .prev-advantage {
  left: 16px;
}

@media (max-width: 768px) {
  .advantage-section .prev-advantage {
    left: 4px;
  }
}

.advantage-section .next-advantage {
  right: 16px;
}

@media (max-width: 768px) {
  .advantage-section .next-advantage {
    right: 4px;
  }
}

.carousel-block {
  position: relative;
}

.carousel-advantage {
  margin: 0 -16px;
}

.carousel-advantage .slide {
  padding: 0 16px;
}

.carousel-advantage .slide .link-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.carousel-advantage .slide .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1E2E36;
  opacity: 0.5;
}

.carousel-advantage .slide .text-block {
  position: absolute;
  bottom: 32px;
  left: 0;
  padding: 0 32px;
  text-align: left;
  color: #fff;
  z-index: 2;
}

@media (max-width: 480px) {
  .carousel-advantage .slide .text-block {
    bottom: 16px;
  }
}

.carousel-advantage .slide .title-slide {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 16px;
}

@media (max-width: 1565px) {
  .carousel-advantage .slide .title-slide {
    font-size: 28px;
  }
}

@media (max-width: 1365px) {
  .carousel-advantage .slide .title-slide {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 1;
  }
}

.carousel-advantage .slide .title-slide::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #44C697;
}

.carousel-advantage .slide .text-slide {
  position: relative;
  font-size: 18px;
  display: none;
}

@media (max-width: 1565px) {
  .carousel-advantage .slide .text-slide {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .carousel-advantage .slide .text-slide {
    display: block;
  }
}

@media (max-width: 768px) {
  .carousel-advantage .slide img {
    width: 100%;
  }
}

.title-section {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 48px;
}

.title-section::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -4px;
  width: 20px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #44C697;
}

.categories-section {
  padding: 96px 0 0;
}

.categories-section .container {
  text-align: center;
}

.tabs {
  padding: 48px 0 0;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  padding: 0 16px;
  display: inline-block;
  width: 16%;
}

.tabs .ico-living-room {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.tabs .tab-content {
  display: none;
}

.tabs .title-tab {
  display: inline-block;
  border-bottom: 3px solid #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.tabs svg {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  fill: #1E2E36;
}

.tabs #tab-btn-1:checked + label .title-tab,
.tabs #tab-btn-2:checked + label .title-tab,
.tabs #tab-btn-3:checked + label .title-tab,
.tabs #tab-btn-4:checked + label .title-tab,
.tabs #tab-btn-5:checked + label .title-tab,
.tabs #tab-btn-6:checked + label .title-tab {
  border-color: #44C697;
}

.tabs #tab-btn-1:checked + label svg,
.tabs #tab-btn-2:checked + label svg,
.tabs #tab-btn-3:checked + label svg,
.tabs #tab-btn-4:checked + label svg,
.tabs #tab-btn-5:checked + label svg,
.tabs #tab-btn-6:checked + label svg {
  fill: #44C697;
}

.tabs #tab-btn-1:checked ~ .tabs-content #content-1,
.tabs #tab-btn-2:checked ~ .tabs-content #content-2,
.tabs #tab-btn-3:checked ~ .tabs-content #content-3,
.tabs #tab-btn-4:checked ~ .tabs-content #content-4,
.tabs #tab-btn-5:checked ~ .tabs-content #content-5,
.tabs #tab-btn-6:checked ~ .tabs-content #content-6 {
  display: block;
}

.tabs .tabs-content {
  padding-top: 80px;
}

.tabs .tab-sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  color: #1E2E36;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.tabs .tab-sub-title .text {
  font-size: 24px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.tabs .tab-sub-title .price {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.tabs .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}

.tabs .list .item {
  width: 33.3333%;
  padding: 0 16px;
  margin: 0 0 48px;
  max-width: 618px;
  position: relative;
}

.tabs .list .item.new .sticker-new {
  display: block;
}

.tabs .list .item.promotion .sticker-promotion {
  display: block;
}

.tabs .list .item.hit-sales .sticker-hit-sales {
  display: block;
}

.tabs .list .item .link {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (min-width: 1024px) {
  .tabs .list .item .link:hover {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  .tabs .list .item .link:hover .tab-sub-title {
    background-color: #44C697;
  }
  .tabs .list .item .link:hover .text,
  .tabs .list .item .link:hover .price {
    color: #fff;
  }
}

.tabs .list .item .tab-img {
  position: relative;
}

.tabs .list .item .tab-img .stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 4px;
  left: 0;
}

.tabs .sticker-hit-sales,
.tabs .sticker-promotion,
.tabs .sticker-new {
  display: none;
  padding: 4px 16px;
  margin: 4px 0 0;
  font: 700 18px/1.25 "Proxima Nova", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.tabs .sticker-hit-sales,
.tabs .sticker-new {
  background-color: #1E2E36;
}

.tabs .sticker-promotion {
  background-color: #FF1B1B;
}
/*# sourceMappingURL=main.css.map */