@import 'include-media';

@import 'reset';
@import 'variables';
@import 'fonts';
@import 'typography';


html, .wrapper {
	min-height: 100vh;
}

//common
body{
	font-family: $base-font-family-sans-serif;
	line-height: 1.5;

		@include media ('<=768px') {
      &.lock{
        overflow: hidden;
      }
    }
}
.container{
	width: 100%;
	max-width: 1850px;
	padding: 0 16px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.title{
	font-size:$h1-font-size;
}

.text{
	font-size:$p-font-size;
	line-height:1.5;
	color:$main-black;
}

.main {
	flex: 1;
}

.btn {
  display: inline-block;
  padding: 16px 48px;
  background-color: $green;
  border-radius: 3px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in;
    &:hover {
       background-color: $green-2;
    }
}

// header
.info {
	display: flex;
	justify-content: space-between;
}

.contacts {
	max-width: 590px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media ('<=1280px') {
		max-width: 520px;
	}

  @include media ('<640px') {
    justify-content: flex-start;
  }
}

.ico {
	display: flex;

	&.arrow {
		width: 8px;
		height: 14px;
		margin-left: 4px;
	}

	&.telephone {
		width: 24px;
		height: 24px;
		margin-right: 4px;
	}

  &.trash {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }

	svg {
		fill:$main-black;
	}
}

.list {
  display: flex;
  align-items: center;
  .item {
    margin: 0 16px;
    font-size: 18px;

    @include media ('<=1280px') {
      margin: 0 8px;
    }
    
    &:first-child {
      @include media ('<640px') {
        margin-left: 0;
      }
    }
  }
}

.socials-block {
	display: flex;
	align-items: center;
	margin-right: 16px;

  @include media ('<640px') {
    margin-right: 24px;
  }

	.text {
		display: inline-block;
    font-size: 18px;
    color: $main-black;
    font-weight: 700;

    @include media ('<640px') {
      display: none;
    }
	}

	.ico {
		&.tg {
			width: 21px;
			height: 18px;
		}
		&.fb {
			width: 10px;
			height: 22px;
		}
		&.ig {
			width: 21px;
			height: 21px;
		}
		svg {
			transition: all 0.2s ease-in;

			&:hover {
				fill: $green;
			}
		}
	}
}

.telephone-block {
	display: flex;
	align-items: center;

	.telephone-link {
		display: inline-flex;
		align-items: center;
		color: $main-black;
    font-size: 18px;
    font-weight: 700;

    @include media ('<640px') {
      font-size: 16px;
    }
	}
}

.navigation {
	margin-left: auto;

	@include media ('<1200px') {
		position:fixed;
		top:-100%;
		left:0;
		width:100%;
		height:100%;
		background-color:#ccc;
		z-index:4;
		transition:all 0.3s ease-in;
		overflow:auto;
		margin: auto;
		&.active{
			top:0;
		}
	}

	.list {
		display: flex;
    @include media ('<1200px') {
      display:block;
      padding:64px 0;
      position:relative;
      z-index:3;
    }
		
		.item {
			margin: 0 8px;

      @include media ('<1200px') {
        margin: 16px;
      }

      &:last-child {
        margin-right: 0;
      }

			.link {
				font: 700 18px/1.25 $base-font-family-sans-serif;
				color: $main-black;
				text-transform: uppercase;

				&.active {
					border-bottom: 3px solid $green;
				}
			}
		}
	}
}

.burger-button{
	display:none;
	width:40px;
	height:25px;
	position:relative;
	z-index:5;
	overflow:hidden;
	@include media ('<1200px') {
		display:block;
	}
	&::before,
	&::after {
		content:'';
		display:block;
		width:100%;
		height:3px;
		background-color:$main-black;
		position:absolute;
		left:0;
		transition:all 0.3s ease-in-out;
	}
	&::before{
		top:0;
	}
	&::after{
		bottom:0;
	}
	.serif{
    display:block;
		width:100%;
		height:3px;
		background-color:$main-black;
		position:absolute;
		left:0;
		top:11px;
		transition:all 0.3s ease-in-out;
	}
	&.active{
		&::before{
			transform:rotate(45deg);
			top:10px;
		}
		&::after{
			transform:rotate(-45deg);
			bottom:12px;
		}
		.serif{
			transform:translate(100px);
		}
	}
}

.header {
	.menu {
		padding: 8px 0;
		border-bottom: 1px solid $main-black;
	}

  .content {
    padding: 16px 0;

    .nav {
      max-width: 560px;
      width: 100%;
      @include media ('<1360px') {
        flex: 1;
        order: 2;
        max-width: auto;
        width: auto;
      }
    }

    .list {
      flex-wrap: wrap;

      @include media ('<1360px') {
        justify-content: center;
      }
      .item {
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }
      }
      .link {
        display: flex;
        align-items: center;
        color: $main-black;
        font-weight: 700;
        text-transform: uppercase;

        @include media ('<1566px') {
          font-size: 16px;
        }

      }
      .arrow {
        width: 7px;
        height: 12px;
      }
    }

    .trash-block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 560px;
      width: 100%;
      margin-left: 16px;

      @include media ('<1360px') {
        order: 0;
        margin: 16px auto;
        max-width: auto;
        width: auto;
      }

      .link {
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        color: $main-black;
        font-weight: 700;
        margin-right: 32px;

        @include media ('<1566px') {
          font-size: 16px;
        }

        @include media ('<1440px') {
          font-size: 15px;
        }

        @include media ('<480px') {
          margin-right: 24px;
        }

        span {
          @include media ('<640px') {
            display: none;
          }
        }
      }
      .btn {
        @include media ('<1440px') {
          padding-right: 24px;
          padding-left: 24px;
        }
      }
    }

    .logo {
      max-width: 360px;
      width: 100%;

      @include media ('<1566px') {
        max-width: 320px;
      }

      @include media ('<1440px') {
        max-width: 240px;
      }

      @include media ('<1360px') {
        order: 0;
        max-width: 360px;
      }

      @include media ('<640px') {
        max-width: 300px;
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media ('<1360px') {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

  }
}

//main
.carousel-section {
  overflow-x: hidden;
}

.content {
  position: relative;

  @include media ('<1024px') {
    padding: 0 16px;
  }

  .context-block {
    position: absolute;
    top: 0;
    left: 40px;
    background-color: $white;
    max-width: 460px;
    padding: 96px 64px;
    border-left: 15px solid $green;
    text-align: center;

    @include media ('<1790px') {
      padding: 48px 40px;
    }

    @include media ('<1360px') {
      padding: 40px 32px;
      max-width: 400px;
    }

    @include media ('<1080px') {
      padding: 24px 16px;
      max-width: 360px;
    }

    @include media ('<1024px') {
      position: relative;
      left: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include media ('<480px') {
      padding: 16px;
    }

    .title {
      padding-bottom: 48px;
      line-height: 1.25;

      @include media ('<1790px') {
        padding-bottom: 24px;
        font-size: 56px;
      }

      @include media ('<1360px') {
        padding-bottom: 16px;
        font-size: 48px;
      }

      @include media ('<1024px') {
        order: 1;
      }

      @include media ('<480px') {
        padding-bottom: 8px;
        font-size: 36px;
      }
    }

    .sub-title {
      padding-bottom: 8px;
      line-height: 1.25;

      @include media ('<1790px') {
        font-size: 32px;
      }

      @include media ('<1360px') {
        font-size: 24px;
      }

      @include media ('<1024px') {
        order: 1;
      }

      @include media ('<480px') {
        font-size: 20px;
      }
    }

    .text {
      padding-bottom: 32px;
      font-size: 36px;
      line-height: 1.25;

      @include media ('<1790px') {
        padding-bottom: 16px;
        font-size: 32px;
      }

      @include media ('<1360px') {
        font-size: 24px;
      }

      @include media ('<1024px') {
        order: 1;
      }

      @include media ('<480px') {
        font-size: 20px;
      }
    }

    .btn {
      @include media ('<1024px') {
        order: 1;
      }
    }
  }

  .arrows-block {
    padding-top: 48px;

    @include media ('<1790px') {
      padding-top: 24px;
    }

    @include media ('<1024px') {
      order: 0;
      padding-top: 0;
    }

    .numbers {
      padding-bottom: 4px;
      font: 700 24px/1.25 $base-font-family-sans-serif;

      @include media ('<480px') {
        font-size: 20px;
      }
    }
    .start {
      font-size: 36px;

      @include media ('<480px') {
        font-size: 24px;
      }
    }
  }
}

//arrows
.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .prev {
    margin-right: 8px;
    background-color: $main-black;
    svg {
      fill: $white;
    }
  }

  .next {
    transform: rotate(180deg);
    background-color: $main-black;
    svg {
      fill: $white;
    }
  }

  .prev,
  .next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $main-black;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &.slick-disabled {
      background-color: $white;
      .arrow-slider {
        svg {
          fill: $main-black;
        }
      }
    }

    .arrow-slider {
      width: 8px;
      height: 12px;
    }
  }
}

//advantage section
.advantage-section {
  padding: 96px 0 0;

  .container {
    text-align: center;
  }

  .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .prev {
      margin-right: 8px;
      background-color: $white;

      svg {
        fill: $main-black;
      }
    }
  
    .next {
      transform: rotate(180deg);
      background-color: $white;
      svg {
        fill: $main-black;
      }
    }
  
    .prev,
    .next {
      border: 1px solid $white;
      @include media ('<=768px') {
        width: 20px;
        height: 20px;
      }
  
      &.slick-disabled {
        background-color: transparent;
        .arrow-slider {
          svg {
            fill: $white;
          }
        }
      }
    }
  }

  .prev-advantage,
  .next-advantage {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .prev-advantage {
    left: 16px;
    @include media ('<=768px') {
      left: 4px;
    }
  }

  .next-advantage {
    right: 16px;
    @include media ('<=768px') {
      right: 4px;
    }
  }
}

.carousel-block {
  position: relative;
}

.carousel-advantage {
  margin: 0 -16px;
  .slide {
    padding: 0 16px;   
    
    .link-slide {
      position: relative;
      display: flex;
      border-radius: 3px;
      overflow: hidden;
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $main-black;
      opacity: 0.5;
    }

    .text-block {
      position: absolute;
      bottom: 32px;
      left: 0;
      padding: 0 32px;
      text-align: left;
      color: $white;
      z-index: 2;

      @include media ('<=480px') {
        bottom: 16px;
      }
    }

    .title-slide {
      position: relative;
      display: inline-flex;
      margin: 0 0 16px;

      @include media ('<1566px') {
        font-size: 28px;
      }

      @include media ('<1366px') {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 1;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $green;
      }
    }
    
    .text-slide {
      position: relative;
      font-size: 18px;
      display: none;

      @include media ('<1566px') {
        font-size: 14px;
      }

      @include media ('<=768px') {
        display: block;
      }
    }

    img {
      @include media ('<=768px') {
        width: 100%;
      }
    }
  }
}

.title-section {
  position: relative;
  z-index: 2;
  display: inline-flex;
  margin: 0 0 48px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -4px;
    width: 20px;
    height: 50px;
    transform: translate(0, -50%);
    background-color: $green;
  }
}

//categories
.categories-section {
  padding: 96px 0 0;

  .container {
    text-align: center;
  }
}

.tabs {
  padding: 48px 0 0;
    input[type="radio"] {
      display: none;
    }
    label {
      padding: 0 16px;
      display: inline-block;
      width: 16%;
    }
    .ico-living-room {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
    .tab-content {
      display: none;
    }

    .title-tab {
      display: inline-block;
      border-bottom: 3px solid $white;
      transition: all 0.3s ease-in;
    }

    svg {
      transition: all 0.3s ease-in;
      fill: $main-black;
    }

    #tab-btn-1:checked,
    #tab-btn-2:checked,
    #tab-btn-3:checked,
    #tab-btn-4:checked,
    #tab-btn-5:checked,
    #tab-btn-6:checked {
      & + label {
        .title-tab {
          border-color: $green;
        }

        svg {
          fill: $green;
        }
      }
   }

    #tab-btn-1:checked ~ .tabs-content #content-1,
    #tab-btn-2:checked ~ .tabs-content #content-2,
    #tab-btn-3:checked ~ .tabs-content #content-3,
    #tab-btn-4:checked ~ .tabs-content #content-4,
    #tab-btn-5:checked ~ .tabs-content #content-5,
    #tab-btn-6:checked ~ .tabs-content #content-6 {
      display: block;
   }

   .tabs-content {
    padding-top: 80px;
   }

   .tab-sub-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: $main-black;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    .text {
      font-size: 24px;
      transition: all 0.2s ease-in;
    }
    .price {
      transition: all 0.2s ease-in;
    }
   }

   .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -16px;

    .item {
      width: 33.3333%;
      padding: 0 16px;
      margin: 0 0 48px;
      max-width: 618px;
      position: relative;

      &.new {
        .sticker-new {
          display: block;
        }
      }

      &.promotion {
        .sticker-promotion {
          display: block;
        }
      }

      &.hit-sales {
        .sticker-hit-sales{
          display: block;
        }
      }
      
      .link {
        display: block;
        transition: all 0.2s ease-in;
        &:hover {
          @include media ('>=1024px') {
            transform: translateY(-25px);

            .tab-sub-title {
              background-color: $green;
            }
            .text,
            .price {
              color: $white;
            }
          }
        }
      }

      .tab-img {
        position: relative;
    
        .stickers {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: absolute;
          top: 4px;
          left: 0;
        }
       }
    }
   }

   .sticker-hit-sales,
   .sticker-promotion,
   .sticker-new {
      display: none;
      padding: 4px 16px;
      margin: 4px 0 0;
      font: 700 18px/1.25 $base-font-family-sans-serif;
      text-transform: uppercase;
      color: $white;
   }

   .sticker-hit-sales,
   .sticker-new {
     background-color: $main-black;
   }

   .sticker-promotion {
    background-color: $red;
   }

}